.footer
	background: $orange
	padding: 30px 0
	color: $white
	width: 100%
	margin-top: 85px
	.container
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	.menu-wrap
		width: 20%
	.menu
		width: 100%
		li
			&:not(:last-child)
				margin-bottom: 20px
		a
			color: $white
			text-transform: uppercase
			font-weight: 500
			font-size: 16px
			line-height: 1
			&:hover
				text-decoration: underline
	.blocks
		width: 80%
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		border-left: 1px solid rgba($dark, .7)
	.block
		padding: 0 0 0 30px
		width: 33.33%
		&:nth-child(2)
			border-left: 1px solid rgba($dark, .7)
			border-right: 1px solid rgba($dark, .7)
		&__icon
			color: $white
			font-size: 20px
			margin-bottom: 20px
	.list
		li
			&:not(:last-child)
				margin-bottom: 30px
		a
			color: $white
			font-size: 16px
			&:hover
				text-decoration: underline
	.text
		font-style: normal
		font-size: 16px
		span
			display: block
			width: 100%
			margin-bottom: 30px
		a
			color: $white
			font-size: 16px
			&:hover
				text-decoration: underline