nav.catalog-links-wrap
	a(href="catalog.html").catalog-links-title Каталог
	ul.catalog-links
		li <a href="#">Банковское оборудование и аксессуары</a><span class="icon-down-open-mini"></span>
			ul
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
		li <a href="#">Батарейки</a>
		li <a href="#">Бланки</a><span class="icon-down-open-mini"></span>
			ul
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
		li <a href="#">Брошюровщики и расходные материалы для переплета</a>
			ul
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
		li <a href="#">Бумажная продукция</a><span class="icon-down-open-mini"></span>
			ul
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
		li <a href="#">Бытовая химия</a><span class="icon-down-open-mini"></span>
			ul
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
		li <a href="#">Калькуляторы</a><span class="icon-down-open-mini"></span>
			ul
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
		li <a href="#">Канцтовары</a><span class="icon-down-open-mini"></span>
			ul
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
				li
					a(href="#") Подкатегория
		li <a href="#">Компьютерные и мобильные аксессуары</a><span class="icon-down-open-mini"></span>
		li <a href="#">Мебель</a><span class="icon-down-open-mini"></span>
		li <a href="#">Носители информации</a><span class="icon-down-open-mini"></span>
		li <a href="#">Папки и архивация документов</a><span class="icon-down-open-mini"></span>
		li <a href="#">Пишущие и чертежные принадлежности</a><span class="icon-down-open-mini"></span>
		li <a href="#">Праздничная продукция</a><span class="icon-down-open-mini"></span>
		li <a href="#">Презентационное оборудование</a><span class="icon-down-open-mini"></span>
		li <a href="#">Расходные материалы</a><span class="icon-down-open-mini"></span>
		li <a href="#">Упаковочный материал</a><span class="icon-down-open-mini"></span>
		li <a href="#">Школьные товары</a><span class="icon-down-open-mini"></span>
		li <a href="#">Штемпельная продукция</a><span class="icon-down-open-mini"></span>

ul.sidebar-links
	li
		a.btn-orange.icon-eye(href="#" target="_blank") Смотреть прайс-лист
	li
		a.btn-orange.icon-download(href="#" download) Скачать прайс-лист