footer.footer
	.container
		nav.menu-wrap
			ul.menu
				li
					a(href="index.html") Главная
				li
					a(href="content-page.html") О магазине
				li
					a(href="content-page.html") Оплата
				li
					a(href="content-page.html") Доставка
				li
					a(href="content-page.html") Оптовикам
				li
					a(href="contact.html") Контакты
				li
					a(href="reviews.html") Отзывы
		.blocks
			.block
				.block__icon.icon-phone
				ul.list
					li
						a(href="tel:+380622534755") +38 (062) 253 47 55
					li
						a(href="tel:+380714010829") +38 (071) 4010829 Светлана
					li
						a(href="tel:+380713311310") +38 (071)3311310 Офис
			.block
				.block__icon.icon-mail-alt
				ul.list
					li
						a(href="mailto:") andreiinatenko@gmail.com
					li
						a(href="mailto:") 4444132@gmail.com
			.block
				.block__icon.icon-location
				address.text <span>г.Донецк ул.Куйбышева 143 Г</span> <span>Склад: г.Донецк ул.Куйбышева 143 А</span>
				.block__icon.icon-clock
				time.text <span>Время работы с 9:00-17:00</span> <span>Продвижение сайта <a href="https://nebo.dn.ua/" target="_blank" rel="nofollow">nebo.dn.ua</a></span>

.popup.mfp-hide#callback
	h2.popup__title Обратный звонок
	form.form
		.form-item
			input.form__input(type="text" placeholder="Имя" name="callback-name")
		.form-item
			input.form__input(type="email" placeholder="Email" name="callback-email")
		.form-item
			input.form__input(type="tel" placeholder="Номер телефона" name="callback-tel")
		.form-item
			textarea.form__input(type="tel" placeholder="Сообщение" name="callback-text")
		.form-item
			button.form__btn.btn-orange Отправить
