header.header
	.top
		.container
			a.logo(href="index.html")
				img.logo__img(src=img+"logo.png", alt="")
			.block
				.block__text г.Донецк ул.Куйбышева, 143г, склад ул. Куйбышева, 143а <br> +38-062-253-47-55, +38-071-382-72-40, +38-071-401-08-27, +38-071-331-13-10 <br> <b>Бесплатная доставка от 2000р</b>
				.block-line
					form.search(action="#")
						input.search__input(type="search" placeholder="Поиск")
						button.search__btn.icon-search
					a.basket-link(href="basket.html")
						.basket-link__icon.icon-shopping-basket
						.basket-link__num 4000000
			ul.links
				li
					a.btn-black.lk-link.icon-user(href="#") Личный кабинет
				li
					a.btn-orange.popup-link(href="#callback") Обратный звонок
	nav.menu-wrap
		.container
			.show-catalog Каталог
			button.burger
				span.bar.bar1
				span.bar.bar2
				span.bar.bar3
			ul.menu
				li
					a(href="index.html") Главная
				li
					a(href="content-page.html") О магазине
				li
					a(href="content-page.html") Оплата
				li
					a(href="content-page.html") Доставка
				li
					a(href="content-page.html") Оптовикам
				li
					a(href="contact.html") Контакты
				li
					a(href="reviews.html") Отзывы