- var img = '../img/';
 
doctype
html
	include blocks/head.pug
		title
	body.content-page
		include blocks/header.pug
		
		sidebar.sidebar
			.sidebar-inner
				include blocks/catalog-links.pug
			.sidebar-inner2

		main.main
			section.breadcrumbs
				ul
					li
						a(href="index.html") Главная
					li
						a(href="#") Контентная страница
			section.content-page
				article.text-container
					h1.page-title Контентная страница
					h2 Заголовок 2
					p Типографика— сильнейший инструмент для выражения посыла в веб-дизайне. С его помощью вы можете объединить текстовую и визуальную составляющие, что поможет вам достучаться до посетителя.
					h3 Заголовок 3
					p Нумерованные списки представляют собой набор элементов с их порядковыми номерами. Пример:
					ol
						li Первый пункт списка;
						li Второй пункт списка;
						li Третий пункт списка;
						li Четвёртый пункт списка.
					h4 Заголовок 4
					img(src=img+"content-img.jpg", alt="")
					p Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке 
					p сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентрные блоки. Соврешенно естественно,  что при разработке сайта почти никогда не используется тот контент, который там будет - зачастую, это контента ещё просто не существует.
					h5 Заголовок 5
					p Нумерованные списки представляют собой набор элементов с их порядковыми номерами. Пример:
					ul
						li Первый пункт списка;
						li Второй пункт списка;
						li Третий пункт списка;
						li Четвёртый пункт списка.
					p Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. 
					table(cellspacing="0" cellpadding="0")
						thead
							tr
								td заголовок
								td Пункт
								td Пункт
								td Пункт
						tbody
							tr
								td Заголовок
								td Значение
								td Значение
								td Значение
							tr
								td Заголовок
								td Значение
								td Значение
								td Значение
							tr
								td Заголовок
								td Значение
								td Значение
								td Значение
							tr
								td Заголовок
								td Значение
								td Значение
								td Значение


		include blocks/footer.pug
		include blocks/scripts.pug